mixin barra_verde(name)
    .barra
        .container
            .pull-right
                ol.breadcrumb
                    li
                        a Home
                    li= name
            h1= name
            p lorem

mixin boton(name)
    button.button= name